# Byte-compiled files
*.py[cod]
__pycache__/

# Virtual environment
env/
venv/
ENV/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# PyInstaller
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# Django stuff:
*.sqlite3
db.sqlite3

# Flask instance folder
instance/

# Static files
staticfiles/
static/

# Temporary files
*.tmp
*.bak
*.swp
*.swo
*~

# System-specific
.DS_Store
Thumbs.db

# VS Code settings
.vscode/
*.code-workspace

# Pycharm settings
.idea/

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Test output
junitxml.xml
test-results.xml

# MyPy cache
.mypy_cache/

# Linter
.pylint.d/

# Pipenv
Pipfile
Pipfile.lock

# Poetry
poetry.lock

# Pyre
.pyre/

# Logs
logs/

# Bybit stream data folder
bybit_stream_data/
